@import "settings";
@import "foundation";

.top-bar{
    background:pink;
h2{
   font-family: 'Dancing Script', cursive; 
    font-color:white;
}
}
.header {
    margin-top:3px;
  text-align: center;
  background-image:url(../images/5.svg) ;
  padding: 100px;
    background-size: cover;
    background-position:top;
  
.main-header {
    color: black;
  }
}
     
body {
  font-family: 'Source Sans Pro', sans-serif;
    font-family: arial,tahoma;
}

.weather {
  background: white;
  position: relative;

h3{
  text-align: center;
  background:pink no-repeat center center;
  background-size:contain;
  padding: 10px;
    font-family: 'Dancing Script', cursive;
 }
    .popular{
    color:black;
    }  
}
.cityweather{
    text-align: center;
    
}

